.searched-recipe-container {
  margin-top: 20px;
}

.recipe-card {
  width: 300px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--box-shadow);
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.recipe-card:hover .recipe-card-image {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.2); /* Zoom out the image on hover */
  transition: 0.3s ease-out;
  /* overflow-y: hidden;  */
}
.recipe-card-name {
  color: var(--primary-color);
  text-decoration: none;
}
.recipe-card-text {
  color: var(--text-color);
}
.recipe-card-image {
  width: 92%;
  height: 200px;
  object-fit: cover;
  margin: 12px;
}

.recipe-card-details {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.recipe-card-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.recipe-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  border-top: 1px solid #eee;
}

.recipe-likes {
  display: flex;
  align-items: center;
}

.like-button {
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  height: 36px;
}
.saved {
  background-color: var(--primary-color);
}
.like-button:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.like-count {
  font-size: 14px;
  color: #555;
}
